.top i {
    bottom: 30px; right: 60px; z-index: 99; padding: 18px; border-radius: 50%; background-color: var(--orange-600); }
/* header */
header {
    background-color: var(--black-900); z-index: 9999; }
.menu>li {
    margin: 0 20px; padding: 25px 0px; }
.menu>li a {
    font-family: var(--roboto); font-size: 17px; }
.apppoinment {
    display: inline-block; padding: 10px 25px !important; font-family: var(--one-squada) !important; font-size: 16px !important; }
.menu li:nth-last-child(2) i {
    font-size: 30px; }
a.right:before {
    content: ""; position: absolute; width: 0; height: 1px; top: 25px; bottom: -3; right: 0; background-color: #FFF; visibility: hidden; transition: all 0.3s ease-in-out; }
a.right:hover:before {
    visibility: visible; width: 100%; }
.dropdown-menu {
    background-color: var(--black-500); border-top: 3px solid var(--orange-600); top: 120px; z-index: 1; visibility: hidden; opacity: 0; }
.dropdown-menu li {
    width: 200px; height: 45px; font-size: 17px; }
.dropdown-menu li a {
    display: flex; padding: 10px 15px; z-index: 3; }
.option:hover .dropdown-menu {
    visibility: visible; opacity: 1; transition: 0.5s; top: 90px; }
.dropdown-menu::before {
    border: 8px solid; border-color: transparent transparent #d9842f transparent; z-index: 565; }
ul.dropdown-menu:before {
    content: ""; top: -19px; left: 10px; width: 0; height: 0; position: absolute; background: transparent; border: 8px solid; border-color: transparent transparent #d9842f transparent; }
.option-link::after {
    content: ''; width: 0px; height: 45px; background-color: var(--orange-600); position: absolute; top: 0px; left: 0px; }
.option-link:hover::after {
    width: 200px; transition: 0.7s; z-index: -1; }
.megamenu {
    width: 1140px; background-color: var(--black-500); max-height: 400px; left: 50%; transform: translateX(-50%); top: 120px; font-family: var(--roboto); display: flex; padding: 30px; opacity: 0; visibility: hidden; }
.Service h2 {
    margin: 10px 0px 25px 0px; }
.Service hr {
    border: 0; border-top: 1px solid var(--white-900); opacity: 0.2; margin: 20px 0px; width: 85%; }
.about:hover .megamenu {
    opacity: 1; visibility: visible; transition: 0.5s; top: 90px }
/* section */
.bg-text {
    min-height: 800px; }
.bg-img {
    height: 100%; top: 0; left: 0; z-index: -2; background: url('../img/background.webp'); }
.overlay:before {
    content: ""; position: absolute; height: 100%; width: 100%; top: 0; z-index: -1; left: 0; background-color: #000; opacity: .6; }
.center-logo {
    width: 131px; margin: auto; }
.logo-text img {
    margin-bottom: 25px; }
.logo-text h2 {
    font-size: 50px; line-height: 50px; margin-bottom: 15px; }
.logo-text p {
    font-size: 20px; padding: 0px 30px; margin: 5px 0px 30px 0px; font-family: var(--roboto); }
.logo{
    padding: 25px; }
.container .btn-2 {
    display: inline-block; letter-spacing: 1px; }
/* section-2 */
.icon {
    height: 360px; transition: all 0.5s; }
.card:hover .icon {
    box-shadow: #d9842f 0px 5px 15px 0px; }
.icon img {
    width: 77px; height: 77px; margin: auto; }
.icon h2 a {
    font-size: 28px; color: var(--black-900); }
.icon h2 {
    margin: 0 38px; padding: 30px 0px 0px; }
.icon p {
    padding: 15px 0px 0px; font-family: var(--roboto); color: var(--grey-500); font-size: 16px; font-weight: 300; line-height: 1.5rem; }
.icon {
    padding: 45px 30px; box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; }
/* Section 3 */
.section-3{
    min-height: 100%; }
.video {
    min-height: 100%; z-index: -2; top: 0px; left: 0px; object-fit: cover; }
.container-3-2 {
    padding-left: 40px; }
.container-3-2 span {
    color: var(--orange-600); font-size: 18px; margin: 0px 0px 5px; letter-spacing: 2px; }
.container-3-2 h2 {
    margin: 0px 0px 8px; font-size: 50px; }
.container-3-2 p {
    font-family: var(--roboto); font-size: 17px; line-height: 1.75rem; margin: 20px 0px 20px; font-weight: 300; }
/* section-4 */
.section-4 {
    background-color: var(--skin-200); min-height: 100%; }
.video-item {
    top: 50%; left: 50%; transform: translate(-50%, -50%); flex-direction: column; width: 65%; }
.video-item i {
    font-size: 60px; color: var(--orange-600); background-color: var(--white-900); border-radius: 49%; }
.video-item h2 {
    font-family: var(--one-squada); font-size: 25px; margin: 15px 0px 8px; }
.barber-item-2 {
    padding: 70px; background-color: var(--white-900); }
.barber-item-2 p {
    color: var(--orange-600); font-size: 18px; margin: 0 0 5px; }
.barber-item-2 h3 {
    color: var(--black-500); font-size: 45px; padding: 0 0 34px; }
.barber-list div,.barber-list div span {
     font-family: var(--roboto); color: var(--black-900); }
.barber-list hr {
    border: 0; border-top: 1px solid rgba(0, 0, 0, .1); margin: 10px 0px; }
/* section 5 */
.sec-5-img {
    background-image: url('../img/sec-5-img.webp'); padding: 46px; }
.sec-5-box {
    padding: 20px 20px 20px 30px; background-color: var(--white-900); font-size: 20px; margin: 10px; }
.sec-5-box span {
    color: var(--black-900); }
.sec-5-box i {
    padding-right: 10px; color: var(--orange-600); font-size: 20px; }
/* section 6 */
.barber-title h2 {
    color: var(--black-500); font-size: 60px; font-weight: 500; margin: 0px 0px 20px; }
.barber-title {
    margin-bottom: 20px; }
.barber-title span {
    display: block; color: var(--orange-600); font-family: var(--roboto); letter-spacing: 3px; margin: 0px 0px 10px; font-size: 15px; }
.barber-card {
    background-color: var(--black-800); bottom: 20%; transition: ease-in-out 0.3s; padding: 20px; z-index: 0; height: 20%; transition: 0.5s; display: none; }
.barber-card p {
    margin-top: 5px 0px 20px 0px; font-size: 16px; font-family: var(--roboto); }
.barber:hover .barber-card,.barber-card-first:hover .barber-card {
    bottom: 30%; height: 30%; background-color: var(--orange-600); }
.barber-card h3 a {
    font-size: 30px; }
/* Gallary */
.gallary-content {
    bottom: -100px; padding-left: 25px; transition: 0.5s; z-index: 12; opacity: 0; visibility: hidden; }
.gallary-content h2,.gallary-content span {
    text-align: left; line-height: 30px; }
.gallary-content h2 {
    font-size: 33px; max-width: 165px; margin: 0; }
.gallary-content span {
    letter-spacing: 1.5px; font-size: 14px; font-family: var(--roboto); }
.gallary-img::before {
    content: ' '; position: absolute; background-color: var(--orange-600); opacity: 0.7; top: 0; right: 0; width: 0%; height: 100%; z-index: 9; transition: 0.5s; }
.gallary-img:hover::before {
    width: 100%; }
.gallary-img:hover .gallary-content {
    bottom: 25px; opacity: 1; visibility: visible; }
.gallary-icon {
    right: 0px; bottom: -125px; padding: 20px; background-color: var(--black-900); border-radius: 50%; z-index: 12; margin-right: 25px; transition: 0.5s; opacity: 0; visibility: hidden; }
.gallary-img:hover .gallary-icon {
    bottom: 25px; opacity: 1; visibility: visible; }
/* Pricing Table */
.price {
    border: 1px solid var(--orange-600); display: block; margin: 10px auto; padding-bottom: 35px; transition: 0.6s; }
.price:hover {
    margin-top: -20px; box-shadow: 0px 0.625rem 1.875rem 0.625rem #00000010; }
.price img {
    padding: 60px 0px 20px 0px; height: 100px; width: 100px; box-sizing: content-box; margin: auto; }
.price h2 {
     font-size: 35px; line-height: 45px; color: var(--black-800); }
.price h3 {
    font-size: 30px; color: var(--orange-600); line-height: 45px; margin-bottom: 8px; }
.list-dots {
    font-size: 6px; }
.list-dots i {
    padding-right: 5px; color: #dfdfdf; }
.price h4 {
    font-size: 24px; line-height: 45px; margin-top: 15px; color: var(--black-800); }
.price p {
    font-size: 16px; font-family: var(--roboto); margin-bottom: 6px; color: var(--grey-500); font-weight: 300; }
/* Review */
.review {
    background-image: url('../img/review_s.webp'); background-size: cover; }
.r-img i {
    display: none; font-weight: 900; font-size: 70px; right: 10px; }
.client-review {
    padding-left: 45px; }
.client-review p {
    font-size: 22px; font-family: var(--roboto); max-width: 100%; padding-top: 12px; margin: 0px 0px 16px; font-weight: 300; }
.client-review h3 {
    font-size: 32px; color: var(--orange-600); line-height: 45px; }
.client-review h2 {
    font-size: 16px; color: #8799a3; font-family: var(--roboto); }
.review-section .arrow-right i,.review-section .arrow-left i,.review-section .arrow-left i:hover,.review-section .arrow-left i{
    display: none; }

/* barber */
.barber-content {
    padding: 90px 70px; background-color: #f0f0f0; }
.barber-date {
    color: var(--orange-600); }
.barber-date span,.barber-date i {
    color: var(--orange-600); font-size: 18px; line-height: 40px; margin-left: 5px; }
.barber-content h2 {
    color: var(--black-500); margin: 20px 0px 30px; font-size: 50px; font-weight: 500; transition: all 0.5s; }
.barber-content h2:hover {
    color: var(--orange-600); }
.barber-content .apppoinment {
    display: inline-block; }
.blog {
    margin-top: 28px; }
/* footer */
footer {
    background-image: url('../img/pattern.png'); background-color: black; background-position: center; }
.footer-content,.footer-list,.footer-contanct {
    padding: 0px 16px; }
.footer-content p {
    font-size: 18px; margin: 20px 0px 4px; font-family: var(--roboto); color: #919090; line-height: 28px; }
.footer-content input::placeholder {
    font-family: var(--roboto); font-size: 16px; }
.email,.footer-phone,.footer-list ul {
    margin-top: 16px; }
.footer-icon {
    width: 15%; background-color: var(--orange-600); transition: 0.5s; }
.footer-icon:hover {
    background-color: var(--grey-500); }
.footer-list a {
    font-family: var(--roboto); line-height: 40px; }
.footer-list li span {
    color: #bebebe; padding: 0px 12px 0px 3px; }
.footer-title {
    font-size: 26px; }
.text-color {
    color: var(--orange-600); font-family: var(--roboto); font-size: 18px; font-weight: bold; display: inline-flex; line-height: 40px; }
.footer-phone li {
    color: #919090; font-size: 18px; font-family: var(--roboto); }
.footer-address {
    color: #c3c3c3; font-size: 18px; font-family: var(--roboto); margin-top: 20px; }
.copyright {
    color: #919090; font-size: 18px; font-family: var(--roboto); background-color: #1c1c1c; bottom: -85px; padding: 32px; }
.copyright span {
    color: var(--orange-600); }
/* Media Quary */
.xs-1, .xs-2, .xs-3, .xs-4, .xs-5, .xs-6, .xs-7, .xs-8, .xs-9, .xs-10, .xs-11, .xs-12, .sm-1, .sm-2, .sm-3, .sm-4, .sm-5, .sm-6, .sm-7, .sm-8, .sm-9, .sm-10, .sm-11, .sm-12, .md-1, .md-2, .md-3, .md-4, .md-5, .md-6, .md-7, .md-8, .md-9, .md-10, .md-11, .md-12, .lg-1, .lg-2, .lg-3, .lg-4, .lg-5, .lg-6, .lg-7, .lg-8, .lg-9, .lg-10, .lg-11, .lg-12, .xl-1, .xl-2, .xl-3, .xl-4, .xl-5, .xl-6, .xl-7, .xl-8, .xl-9, .xl-10, .xl-11, .xl-12 { 
    padding: 12px; } 
.xs-1 {
    width: 8.3333%; } 
.xs-2 { 
    width: 16.6666%;}
.xs-3 { 
    width: 25%; } 
.xs-4 { 
    width: 33.3333%; } 
.xs-5 {
    width: 41.6666%; }
.xs-6 {
    width: 50%; }
.xs-7 { 
    width: 58.3333%; } 
.xs-8 { 
    width: 66.6666%; } 
.xs-9 { 
    width: 75%; } 
.xs-10 {
    width: 83.3333%; } 
.xs-11 {
    width: 91.6666%; } 
.xs-12 {
    width: 100%; }
.xs-flex-order-2{
    order:2; }
.xs-flex-order-1{
    order:1; }
.menu-icon {
    display: none; }
.burger-menu {
    top: 40px; font-size: 25px; left: 40px; }
.menu{
    display: none; }
.menu-visible {
    display: inline-block; }
.scissor-img{
    width: 20px; height: 20px; margin: auto; }
/* .scissor::after{
    content: " ";
    border-top:1px solid var(--black-500);
    width: 100px;
    position: absolute;
    top: 50%;
    left: 38%;
}
.scissor::before{
    content: " ";
    border-top:1px solid var(--black-500);
    width: 100px;
    position: absolute;
    top: 50%;
    right: 38%;
} */
